<div class="modal-header">
  <h5 class="modal-title fw-bold">
    {{ type === 'edit' ? 'Editar' : 'Crear' }} Registro
  </h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="row">
      <div *ngFor="let field of formFields" class="mb-3 col-12">
        <label class="form-label">{{ field.label }}</label>
        <input
          *ngIf="field.type === 'text'"
          class="form-control"
          [formControlName]="field.property"
          [type]="field.type || 'text'"
        />
        <select
          *ngIf="field.type === 'select'"
          class="form-select"
          [formControlName]="field.property"
        >
          <option *ngFor="let opt of field.options" [value]="opt.id">
            {{ opt.name }}
          </option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-secondary" (click)="cancel()">Cancelar</button>
  <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">Guardar</button>
</div>
