<div class="modal-header">
  <h5 class="modal-title fw-bold">
    {{ type === 'edit' ? 'Actualización' : 'Creación' }} de Registro
  </h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="row">
      <div
        *ngFor="let field of fields"
        [class]="getColClass(fields.length) + ' mb-3'"
      >
        <label class="form-label">{{ field.label }}</label>
        <input
          *ngIf="field.type === 'text'"
          class="form-control"
          [formControlName]="field.property"
          type="text"
        />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-secondary" (click)="cancel()">Cancelar</button>
  <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">Guardar</button>
</div>
